
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: url(https://e1.pxfuel.com/desktop-wallpaper/95/646/desktop-wallpaper-black-snake-leather-texture-snake-skin-background-cobra-texture-black-creative-background-snake-with-resolution-3840x2400-high-quality-snake-texture.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.h1{
    color: yellow;
    text-align: center;
    padding: 10px;
}
.container1, .container2{
padding: 20px;
margin: 40px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.box{
    width: 120px;
    height: 120px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(176, 169, 40, 0.5);
    border-radius: 20px;
}
.img{
    height: 110px;
    width: 110px;
    align-items: center ;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1.5s;
}
.box:hover img{
    transform: scale(2.5);
}
figcaption{
    display:block; 
    padding:20px ; 
    text-align:center;
    color: rgb(227, 227, 21);
  }
  .nets{
    height: 40px;
    width: 40px;
    margin: 5px;
    padding: 5px;
  }
  .section{
    text-align: right;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: left;
  }
  .container3{
    padding: 20px;
    margin: 100px;
    display: flex;
    justify-content:right;
    flex-wrap: right;
    text-align:bottom;
    color: rgb(228, 228, 202);
  }
  .Google-map{
    height: 60px;
    width: 60px;
  }
  .about-us{
    width: 220px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content:right;
  }
  .image{
    height: 100px;
    width: 150px;
    align-items: center ;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hand-made{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  .text-in-section{
    color: antiquewhite;
    height: 140px;
    margin: 20px;
    padding: 20px;
    width: 550px;
  }
  .header{
    display: flex;
    justify-content:space-around;
    margin: 20px;
    padding: 20px;

  }